<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Billboard Top Songs for {{year}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">Billboard Top Songs for {{year}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">

	</div>
</nav>

<main role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="padding-bottom: 1em; margin-top:2em">
		<div class="container">
			<h1 class="display-6">{{year}}</h1>
			<p>Lorem ipsum...</p>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<table class="table table-striped">
			<tbody>
			{{foreach song in playlist}}
				<tr>
					<td>
						W{{$index+1}}
					</td>
					<td>
						<div>
							<a href="spotify:track:{{song.spotify.id}}">
								{{song.title}}
							</a>
							<span class="badge badge-success">
								{{song.position.weeksOnChart}} weeks
							↑
							#{{song.position.peakPosition}}</span>
						</div>
						<div class="text-muted">{{song.artist}}</div>
					</td>
					<td style="width: 64px">
						<img src="{{song.cover}}" width="64" height="64" style="object-fit: cover"/>
					</td>
				</tr>
			{{end}}
			</tbody>
		</table>

	</div> <!-- /container -->

</main>

<footer class="container">
	<hr>
	<p>&copy; 2019 https://github.com/spidgorny/billboard-top-playlist</p>
</footer>


</body>
</html>
